<footer>
    <div class="lockup">
        <div class="content-wrap">
            <nav>
                <a href="#about-me"><font color="white">About Me</font></a>
                <a href="#Experenice"><font color="white">Experience</font></a>
                <a href="#Blog"><font color="white">Blog</font></a>
                <a href="#Details"><font color="white">Conteact Me</font></a>
            </nav>
            <p
                class="copyright"><font color="white">Đurđina Milović 2017</font></p>
        </div>
    </div>
</footer>